{{define "buildingForm"}}
<div class="translucent-form-overlay" style="margin: auto;">
    <form method="POST">
      <h3>create building</h3>
      <div class="row columns">
        <label>Building Name
            <input type="text" name="buildingName"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Building Level
            <input type="text" name="buildingLvl"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Food Requirements
            <input type="text" name="foodReq"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Wood Requirements
            <input type="text" name="woodReq"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Iron Requirements
            <input type="text" name="ironReq"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Silver Requirements
            <input type="text" name="silverReq"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Noble Badges
            <input type="text" name="nobleReq"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Royal Badges
            <input type="text" name="royalReq"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Books of War
            <input type="text" name="booksOfWar"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Building Requirements #1
            <div class="row columns">
                <label>Building Name
                    <input type="text" name="buildNameReq1"><br>
                </label>
            </div>
            <div class="row columns">
                <label>Building Level
                    <input type="text" name="buildLevelReq1"><br>
                </label>
            </div>
        </label>
      </div>
      <div class="row columns">
        <label>Building Requirements #2
            <div class="row columns">
                <label>Building Name
                    <input type="text" name="buildNameReq2"><br>
                </label>
            </div>
            <div class="row columns">
                <label>Building Level
                    <input type="text" name="buildLevelReq2"><br>
                </label>
            </div>
        </label>
      </div>
      <div class="row columns">
        <label>Building Requirements #3
            <div class="row columns">
                <label>Building Name
                    <input type="text" name="buildNameReq3"><br>
                </label>
            </div>
            <div class="row columns">
                <label>Building Level
                    <input type="text" name="buildLevelReq3"><br>
                </label>
            </div>
        </label>
      </div>
      <input class="clear button large" type="submit" value="Submit">
   </form>
  </div>
{{end}}