{{define "gearForm"}}
<div class="translucent-form-overlay" style="margin: auto;">
    <form method="POST">
      <h3>create gear</h3>
      <div class="row columns">
        <label>Gear Name
            <input type="text" name="gearName"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Gear Level
            <input type="text" name="gearLvl"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Bonus 1
            <input type="text" name="bonus1"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Bonus 1 rss
            <input type="text" name="bonus1rss"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Bonus 2
            <input type="text" name="bonus2"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Bonus 1 rss
            <input type="text" name="bonus2rss"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Bonus 3
            <input type="text" name="bonus3"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Bonus 3 rss
            <input type="text" name="bonus3rss"><br>
        </label>
      </div>
      <input class="clear button large" type="submit" value="Submit">
   </form>
  </div>
{{end}}