{{define "heroForm"}}
<div class="translucent-form-overlay" style="margin: auto;">
    <form method="POST">
      <h3>create hero</h3>
      <div class="row columns">
        <label>Hero Name
            <input type="text" name="heroName"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Star Level
            <input type="text" name="starLvl"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Name
            <input type="text" name="skillName"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Level
            <input type="text" name="skillLvl"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Bonus
            <input type="text" name="skillBonus"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Resource type Bonus
            <input type="text" name="rssBonus"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Type Bonus
            <input type="text" name="typeBonus"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Name
            <input type="text" name="skillName2"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Level
            <input type="text" name="skillLvl2"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Bonus
            <input type="text" name="skillBonus2"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Resource type Bonus
            <input type="text" name="rssBonus2"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Type Bonus
            <input type="text" name="typeBonus2"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Name
            <input type="text" name="skillName3"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Level
            <input type="text" name="skillLvl3"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Bonus
            <input type="text" name="skillBonus3"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Resource type Bonus
            <input type="text" name="rssBonus3"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Type Bonus
            <input type="text" name="typeBonus3"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Name
            <input type="text" name="skillName4"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Level
            <input type="text" name="skillLvl4"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Bonus
            <input type="text" name="skillBonus4"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Resource type Bonus
            <input type="text" name="rssBonus4"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Type Bonus
            <input type="text" name="typeBonus4"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Name
            <input type="text" name="skillName5"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Level
            <input type="text" name="skillLvl5"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Bonus
            <input type="text" name="skillBonus5"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Resource type Bonus
            <input type="text" name="rssBonus5"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Type Bonus
            <input type="text" name="typeBonus5"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Name
            <input type="text" name="skillName6"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Level
            <input type="text" name="skillLvl6"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Skill Bonus
            <input type="text" name="skillBonus6"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Resource type Bonus
            <input type="text" name="rssBonus6"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Type Bonus
            <input type="text" name="typeBonus6"><br>
        </label>
      </div>
      <input class="clear button large" type="submit" value="Submit">
   </form>
  </div>
{{end}}