{{template "header"}}
<div class="translucent-form-overlay" style="margin: auto; margin-top: 5%;">
    <form method="POST">
      <h3>Login</h3>
      <div class="row columns">
        <label>Email
            <input type="email" name="email"><br>
        </label>
      </div>
      <div class="row columns">
        <label>Password
            <input type="password" name="password"><br>
        </label>
      </div>
      <input class="clear button large" type="submit" value="Login">
   </form>
  </div>
{{template "footer"}}